
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;
    
}

body{
    background-color: #e4e4e4;
}

/* HEADER */
header{
    width: auto;
    height: 120px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


header h1{
    display: block;
    margin: 0 auto 0 0;
    color: white;
}


header #website-logo{
    margin: 0 auto 0 0;
}


header #website-logo p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

header #image-profile{
    width: 120px;
    text-align: right;

    text-align: center;
}

header #image-profile img{
    margin: 0 auto;
    height: 40px;
}

header p{
    color: white;
    font-weight: 800;
    display: block;
}
/* barra de progresso */

div.barradeprogresso{
    color:#00C7C7;
    text-align: center;
    margin-bottom: 10px;
}

div.barradeprogresso progress{
    width: 50%;
    margin-left: 30px;   
}

/* dialog */
.nuvem {
    position: fixed;
    background: #fff;
    top: 15%; 
    left: 80%;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    width: 160px;
    text-align: center;
    z-index: 1000;
  }
  .nuvem strong{
    font-size: 1.5em;
  }
  
  .nuvem:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 25px;
  }
  
  .nuvem:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 2;
    bottom: -13px;
    left: 25px;
  }

/*container*/

#container{
    width: min(90vw, 80%);
    margin: 2% auto;
    padding: 20px;


}

#container h1{
    text-align: center;
    color:#393f53;
    margin-bottom: 30px;
}

#options{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


#container #add-anotation a{
    text-decoration: none;
    color: #969cb3;
}

#container #add-anotation a:hover{
    color: #4289aa;
}

#container #icon-options{
    display: flex;
    color: white;
    
}

#container #icon-options p{
    padding: 10px;
    color: #969cb3;
    
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}


/*table*/

#notes-section{
    display: block;
    width: 100%;
    overflow-x: auto;
    background: transparent;
}

#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--data-table-color);
}

table th{
    background: rgb(255, 255, 255);
    
    font-weight: normal;
    padding: 1rem;

    text-align: left;
    color: #969cb3;
    
}

table tbody tr{
    opacity: .7;
}

table tbody tr:hover{
    opacity: 1;
}

table td{
    background:  rgb(255, 255, 255);
    padding: 1rem;
}

td.description{
    color: #919eca;
}

td.income{
    color: #919eca;
}

td.date{
    color:#919eca;
}

table thead tr th:first-child, 
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

#teste{
    background-color: white;
    
    display: block;
    width: 97%;

    margin: 0 auto ;
    
}

#teste p{
    padding: 10px;
    color: #515e88;
}
/* video */

.h2video{
    display: block;
    margin: 20px 10px 0px 10px;
    padding-left: 10px;
    background-color: #1c889e;
    color:white;
    border-radius: 10px 10px 0px 0px;
}

div.video{
    background-color:#35c7c7be ;
    margin: 20px 10px;
    padding: 20px;
    padding-bottom: 53.35%;
    position: relative;
    margin-top: 0;
    border-radius: 0px 0px 10px 10px;
}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


/* footer */

footer{
    /*background: linear-gradient(329.54deg, #eee 0%, #d4d3d3 100%);*/

    
    width: 100%;
    height: 60px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

 
}   

footer p{
    color: #969cb3  ;
    font-size: smaller;
}


/* LOGIN AND REGISTER PAGE */

.lr-page{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

#form{
    border: 2px solid;
    border-color: #e4e4e4;
    padding: 50px;

    border-radius: 20px;
}

#form h1{
    text-align: center;
    color: white;

    font-weight: bolder;
    font-size: 48px;
}

.input-div{
    margin: 10px 0;
    border: none;
}

.input-div input{
    border: none;
    padding: 16px;

    border-radius: 20px;
    color: #6f6f6f;
}

.input-div  p{
    color: white;
}

#range.input-div input {
    padding: 0px;
    margin-left: 10px;
}

#submit{
    display: block;
    text-align: center;
    margin: 20px 0;
}

#button-lr{
    padding: 16px;
    width: 100%;

    border: 2px solid;
    border-color: #e4e4e4;
    padding: 20px;

    border-radius: 100px;

    color: #6f6f6f;
}

#a-text{
    display: block;
    text-align: center;
}

#form a{
    margin: 0 auto 0;
    text-decoration: none;
    
    color: white;
}

#button-lr:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}

/*Landing*/

.container-2{
    display: flex;
    height: 100vh;
    
}

.container-2 > section{
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    width: 70%;
    padding: 100px;
    
    display:flex;
    align-items:center;
    flex-direction:column;

    justify-content: center;
}


.container-2 > section > p {
    color: white;
    font-size: 64px;


    text-align:left;
    float:left;

}

.container-2 > section > div{
    margin: 1em auto 0;
}

.container-2 > section h1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin: 12px 0;
}

.container-2 > section h2{
    color: white;
    font-size: 24px;
    font-weight: lighter;
}

.container-2 > section > .carrosel{
    align-self: flex-end;
    text-align: center;

    border-radius: 100%;
    
} 

.dot {
    height: 15px;
    width: 15px;
    background: linear-gradient(329.54deg, #fadede 0%, #F0F0F0 100%);
    border-radius: 50%;
    display: inline-block;
}

.container-2 > aside{
    width: 30%;
    background: linear-gradient(329.54deg, #FFFFFF 0%, #F0F0F0 100%);
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;

    text-align: center;
}

.container-2 > aside > h2{
    font-size: 36px;
    color: #41a7a7; /* Teal Escuro */
}


.container-2 > aside > div > button {
    padding: 12px;
    margin: 8px 0;

    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    border: none;
    border-radius: 26px;

    color: white;

    width: 60%;
    transition: 1s;

}

.container-2 > aside >  div > button:hover{
    width: 70%;
    cursor: pointer;
}

.container-2 > aside > div > button > a {
    text-decoration: none;
    color: white;
    display: block;
}

/* Dispositivos muito pequenos(celulares, abaixo de 600px)*/
@media only screen and (max-width: 600px){
    .nuvem{
        left: 70%;
    }
}

/*Dispositivos pequenos(tablets em modo retrato, ou celulares grandes, a partir de 600px)*/
@media only screen and (min-width:600px){
    .nuvem{
        left: 70%;
    }
}


/*Dispositivos médios(tablets em modo paisagem, a partir de 768px)*/
@media only screen and (min-width: 768px){
    .nuvem{
        left: 80%;
    }
}


/*Dispositivos grandes(laptops/desktops, a partir de 992px)*/
@media only screen and (max-width: 992px){
    .container-2 {
        flex-direction: column;
    }

    .container-2 > section{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;

        padding: 2.4em;
    }

    .container-2 > section > p{
        font-size: 64px;
    }

    .container-2 > section > div{
        margin: 1em auto 0;
    }

    .container-2 > section h1{
       
        font-size: 36px;
        font-weight: bolder;

        margin: .5em 0;
    }
    
    .container-2 > section h2{
        color: white;
        font-size: 20px;
        font-weight: lighter;
    }

    .container-2 > aside{
        width: 100%;
        height: 100%;
    }

    .container-2 > aside .legenda{
        text-align: center;
    }

    header h1{
        display: none;
    }

    #options{
        flex-direction: column;
        align-items: flex-start;
    }

    #container  #icon-options{
        display: none;
    }
}

/*Dispositivos muito grandes (laptops/desktops grandes, a partir de 1200px)*/
@media only screen and (min-width: 1200px){

}

